<!DOCTYPE html>
<html>
<head>
  <title>CafeApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

<div class="header">
	<div class="container">
		
		<%= link_to "List of Orders", food_orders_path , class: "tabs" %>
		<%= link_to "New Order", new_food_order_path , class: "tabs" %>

		<% if admin_signed_in? %>
       		Signed in as <%= current_admin.email  %>
			<%= link_to 'Logout', destroy_admin_session_path, method: 'delete' %>
       	<% else %>
       		<%= link_to 'Login', new_admin_session_path %>
       		<%= link_to 'Sign up', new_admin_registration_path %>
       <% end %>

	</div>
</div>

<div class="container">
<%= yield %>
</div>		

</body>
</html>
